@page

@using CharityFinder.Pages
@using CharityFinder.Models
@model ResultsModel
@{
    ViewData["Title"] = "Charity Finder";
    var CharitiesObj = ViewData["CharitiesObj"] as List<Charity>;
}

<nav class="navbar bg-secondary navbar-fixed navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Charity Finder</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/Index#search-section">Search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Index#featured-section">Featured Charities</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="main-content results-page flex text-center bg-dark">
    <div class="jumbotron">
        <h1 class="display-4" style="font-family: 'Oswald';">Charity Finder</h1>
        <p class="lead">Discover the right destination for your donation!</p>
        <a asp-page="/Index" class="btn btn-primary">Search Again</a>

    </div>

    <div class="bg-dark p-4 results">
        @if (CharitiesObj == null || CharitiesObj.Count == 0)
        {
            <p class="white-text" style="font-size: 15rem;">NO CHARITIES</p>
        }
        else
        {
            <div class="charity-cards flex">
                @foreach (Charity charity in CharitiesObj)
                {
                    <div class="charity-card">
                        <div class="charity-name">@charity.Name</div>
                        <div class="charity-themes flex">
                            @foreach (var theme in charity.RelatedThemes)
                            {
                                <div class="theme-oval">@theme</div>
                            }
                        </div>
                        <div class="charity-summary">@charity.Summary</div>
                        <a href="@charity.Url" class="btn btn-primary charity-url">Visit Website</a>
                    </div>
                }
            </div>

        }
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var cards = document.querySelectorAll(".charity-card");
        var maxHeight = 0;

        cards.forEach(function (card) {
            console.log(card.offsetHeight);
            maxHeight = Math.max(maxHeight, card.offsetHeight + 70);
        });

        cards.forEach(function (card) {
            card.style.height = maxHeight + "px";
        });
    });
</script>

