html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.white-text {
    color: white;
}

html {
    position: relative;
    min-height: 100%;
}

.flex {
    display: flex;
}

body {
    padding: 0;
    margin: 0;
    min-height: 60vh;
    background-color: darkorange;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    position: relative;
}

.body-container {
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity));
    /*min-height: 90vh;*/
    margin-top: 0;
    width: 80%;
    margin-bottom: 0;
}

.menu-section {
    width: 100%;
}

main {
    height: 90vh;
    flex: 1;
}

.main-content {
    min-height: 95vh;
    min-width: 90vw;
    display: flex;
    flex-direction: column;
}

.jumbotron {
    color: white;
    flex: 0 0 auto;
}

.hero-container {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
}

.hero-section {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}



.search-section {
    background-color: rgb(2, 18, 64);
}

.search-left-side {
    width: 50%;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-direction: row;
}

.search-description {
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 6rem;
}

.search-form {
    width: 50%;
    justify-content: center;
    align-items: center;
}

.search-btn {
    background-color: rgb(0,120,0);
    color: white;
}

    .search-btn:hover {
        background-color: rgb(0, 100, 0);
    }

.search-image {
    width: 50%;
    justify-content: center;
    align-items: center;
}

#charityImage {
    height: 40rem;
    width: 40rem;
    border-radius: 15px;
}

.results {
    padding-bottom: 4rem !important;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    gap: 1rem;
}

.card-text {
    text-align: left;
}

.btn-primary {
    max-height: 5rem;
    max-width: 15rem;
    overflow: hidden;
}

footer {
    background-color: gray;
    text-align: center;
    font-weight: 500;
    font-size: 30px;
    min-height: 50px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}

.footer-container {
    color: white;
    margin-top: 0;
}
