@page
@using CharityFinder.Pages
@using CharityFinder.Models

@model IndexModel
@{
    ViewData["Title"] = "Charity Finder";
    var themeModelObj = ViewData["ThemeModelObj"] as ThemeModel;
    var CharitiesObj = ViewData["CharitiesObj"] as List<Charity>;

}

<div class="main-content text-center bg-dark">

    <div class="jumbotron">
        @* <a asp-page="/Index" class="btn btn-primary">Home</a> *@
        <h1 class="display-4" style="font-family: 'Oswald';">Charity Finder</h1>
        <p class="lead">Discover the right destination for your donation!</p>
    </div>

    <div class="bg-dark p-4">
        @if (themeModelObj != null)
        {
            <form method="post" class="form-inline">
                <div class="d-flex justify-content-around">
                    <div class="text-center">
                        <label for="SelectedTheme" class="d-block text-left text-white">Select a theme:</label>
                        <select id="SelectedTheme" name="SelectedTheme" class="form-control">
                            <option value="Any">Any</option>
                            @foreach (var theme in themeModelObj.Themes.Theme)
                            {
                                <option value="@theme.Id">@theme.Name</option>
                            }
                        </select>
                    </div>
                    <div class="text-center">
                        <label for="region" class="d-block text-left text-white">Select a region:</label>
                        <select id="region" name="SelectedRegion" class="form-control">
                            <option value="Any">Any</option>
                            <option value="Africa">Africa</option>
                            <option value="Asia and Oceania">Asia and Oceania</option>
                            <option value="Europe and Russia">Europe and Russia</option>
                            <option value="Middle East">Middle East</option>
                            <option value="North America">North America</option>
                            <option value="South/Central America and the Caribbean">South/Central America and the Caribbean</option>                            
                        </select>
                    </div>
                    <div class="text-center">
                        <label for="themes3" class="d-block text-left text-white">Select a theme:</label>
                        <select id="themes3" name="SelectedTheme3" class="form-control">
                            <option value="Any">Any</option>
                            @foreach (var theme in themeModelObj.Themes.Theme)
                            {
                                <option value="@theme.Id">@theme.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="text-center mt-3">
                    <input type="submit" value="Submit" class="btn btn-primary" @* asp-area="" asp-page="Results" *@ />
                </div>
            </form>
        }
        else
        {
            <p class="white-text">Could not load themes.</p>          
        }
    </div>
</div>










