@page

@using CharityFinder.Pages
@using CharityFinder.Models
@model ResultsModel
@{
    ViewData["Title"] = "Charity Finder";
    var CharitiesObj = ViewData["CharitiesObj"] as List<Charity>;
}

<div class="main-content text-center bg-dark">
    <div class="jumbotron">
        <h1 class="display-4" style="font-family: 'Oswald';">Charity Finder</h1>
        <p class="lead">Discover the right destination for your donation!</p>
        <a asp-page="/Index" class="btn btn-primary">Search Again</a>

    </div>

    <div class="bg-dark p-4 results">
        @if (CharitiesObj != null)
        {

            <div class="charity-cards">
                @foreach (Charity charity in CharitiesObj)
                {
                    <div class="charity-card">
                        <div class="charity-name">@charity.Name</div>
                        <div class="charity-themes">
                            @foreach (var theme in charity.RelatedThemes)
                            {
                                <div class="theme-oval">@theme</div>
                            }
                        </div>
                        <div class="charity-summary">@charity.Summary</div>
                        <a href="@charity.Url" class="btn btn-primary charity-url">Visit Website</a>
                    </div>
                }
            </div>
        }
        else
        {
            <p class="white-text">NO CHARITIES</p>
        }
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var cards = document.querySelectorAll(".charity-card");
        var maxHeight = 0;

        cards.forEach(function (card) {
            console.log(card.offsetHeight);
            maxHeight = Math.max(maxHeight, card.offsetHeight + 70);
        });

        cards.forEach(function (card) {
            card.style.height = maxHeight + "px";
        });
    });
</script>

